/* Tipografía y estilos generales */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #333;
}

h1, .title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    margin: 0;
    color: #333;
}

.subtitle {
    font-family: 'Playfair Display', serif;
    font-size: 1.8em;
    text-align: center;
    color: #5a8d55;
    margin-top: 20px;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: #333;
}

p {
    font-size: 1em;
    color: #333;
    margin-bottom: 1em;
}

/* Contenedor principal para la sección de bienvenida */
.welcome-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
}

/* Estructura de la imagen y el texto */
.content {
    display: flex;
    align-items: center;
    gap: 20px;
}

.small-image {
    width: 100px;
    height: auto;
}

.text-container p {
    font-size: 1.1em;
    margin: 0;
    color: #333;
}

/* Contenedor general para el contenido */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.image {
    max-width: 300px;
    margin-left: 20px;
}

/* Estilos para el título */
.title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #333;
    margin-left: 20px;
}

/* Estilo de enlace del título */
.title-link {
    text-decoration: none;
    color: inherit;
}

/* Estilos del menú desplegable */
.menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.menu a {
    font-family: 'Lato', sans-serif;
    color: #333;
    text-decoration: none;
    padding: 10px;
    display: block;
    font-weight: 700;
}

.menu a:hover {
    color: #5a8d55;
}

/* Icono del menú (hamburguesa) */
.icon {
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

/* Clase .show para mostrar el menú desplegable */
.show {
    display: flex;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
        text-align: center;
    }

    .small-image {
        margin-bottom: 15px;
    }

    .image {
        max-width: 80%;
        margin: 20px 0;
    }

    /* Icono del menú en móviles */
    .icon {
        margin-top: 20px;
    }
}

